@model SistemaInventarioV7.Modelos.Bodega

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string titulo = "Crear Bodega";
}

<!--Formulario-->
<form method="post">
    <div class="mx-auto">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            //Actualización
            titulo = "Actualizar Bodega";
            <input type="hidden" asp-for="Id" id="id"/>
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la Bodega" id="nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripción</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripción de la Bodega" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <select asp-for="Estado" class="form-select">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <!--Vista Parcial-->
        @if (Model.Id != 0)
        {
            <partial name="_BotonesActualizarYRegresar" model="Model.Id"/>
        }
        else
        {
            <partial name="_BotonesCrearYRegresar" />
        }


    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>

    <script>
        document.getElementById("nombre").addEventListener('change', function(){
            ValidarNombre();
        });

        function ValidarNombre()
        {
            var url = '@Url.Content("~/")' + "Admin/Bodega/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function(data){
                $.each(data, function(key, value){
                    if(value)
                    {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Ese Nombre ya Existe", "error");
                        nombre.value = "";
                    }
                });

            })
        }

    </script>
}