@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-3">
    <!--Encabezado-->
    <div class="row pb-2">
        <div class="col-auto me-auto">
            <h2 class="text-primary">Lista de Usuarios</h2>
        </div>
        <div class="col-auto">
            <a class="btn btn-outline-primary"asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-plus-square-fill"></i> Crear Nuevo Usuario</a>
        </div>
    </div>


    <!--Cuerpo-->
    <div class="p-4 border rounder bg-light">
        <table id="tblDatos" class="table table-responsive table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Email</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--Script-->
@section Scripts {
    <script src="~/js/usuario.js"></script>
}